.card-joker {
  height: 18rem;
  min-width: 50px;
  width: 200px;
  
  background-color: #F6F6F6;
  font-size: 20px;
  color: #F74545;
  
  .card-body {
    display: table;
  }

  .top {
    display: table-cell;
  }

  .center {
    text-align: center;
    font-size: 80px;
    display: table-cell;
    vertical-align: middle;
  }

  .bottom {
    text-align: end;
    display: table-cell;
    vertical-align: bottom;
  }

  .heart {
    font-size: 2em;
  }

  .card-back {
    margin: 1rem;
    border-radius: .25rem;
    background-color: #f6f6f6;
    opacity: 0.6;
    background-image:  linear-gradient(135deg, #f74545 25%, transparent 25%), linear-gradient(225deg, #f74545 25%, transparent 25%), linear-gradient(45deg, #f74545 25%, transparent 25%), linear-gradient(315deg, #f74545 25%, #f6f6f6 25%);
    background-position:  28px 0, 28px 0, 0 0, 0 0;
    background-size: 28px 28px;
    background-repeat: repeat;
  }
}

.card-interact:hover {
  background-color: #e2e288;
  width: 200px;
  height: 18rem;
  z-index: 2;
}