.username_container {
  text-align: center;
  font-weight: lighter;

  .username {
    padding-left: 10px;
  }
}


.card-joker {
  width: 6vw;
  height: 9vw;
  min-width: 70px;
  min-height: 97px;
  margin-bottom: 4px;
  margin-left: 7px;
  margin-right: -50px;
  
  background-color: #F6F6F6;
  font-size: 0.75vw;
  color: #F74545;
  
  .card-body {
    padding: 0.5vw;
    display: table;
  }

  .top {
    display: table-cell;
  }

  .center {
    text-align: center;
    font-size: 1.5vw;
    display: table-cell;
    vertical-align: middle;
  }

  .bottom {
    text-align: end;
    display: table-cell;
    vertical-align: bottom;
  }

  .heart {
    font-size: 1vw;
  }

  .card-back {
    margin: 0.5vw;
    border-radius: .25rem;
    background-color: #f6f6f6;
    opacity: 0.8;
    background-image:  linear-gradient(135deg, #f74545 25%, transparent 25%), linear-gradient(225deg, #f74545 25%, transparent 25%), linear-gradient(45deg, #f74545 25%, transparent 25%), linear-gradient(315deg, #f74545 25%, #f6f6f6 25%);
    background-position:  10px 0, 10px 0, 0 0, 0 0;
    background-size: 10px 10px;
    background-repeat: repeat;
  }
}

.card-interact:hover {
  margin-right: 1vw;
  margin-left: 1vw;
  background-color: #d4d3d3;

  transform: translate(2%, -40%) rotate(19deg);
  transform-origin: bottom right;
  transition: transform .5s ease-out;
  z-index: 2;
}