.PokerHandSection {
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0.5%;

  .alias {
    text-align: -webkit-center;
  }
  .PokerHand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

  }
  
  .input-username-room {
    width: 162px;
    margin-bottom: 5px;
  }
}
