.PokerPot {
  .score-element {
    text-align: center;

    .score-text {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .pot {
    justify-content: center;
    display: flex;
    min-height: 50vh;
    flex-wrap: wrap;
  }

  .pot > * {
    margin: 10px;
  }

  .admin_buttons {
    text-align: start;
    
    .btn-show-cards {
      margin: 5px;
    }
  
    .btn-clear-cards {
      margin: 5px;
    }
  }
  
}


